<div class="row">

  <div class="col-md-12">
      <a routerLink='/new' class="btn btn-danger">New Expensive</a>

      <div class="card">
      <div class="card-content table-responsive">
          <table class="table">
              <thead>
              <tr>
                  <th class="text-center">#</th>
                  <th>Title</th>
                  <th>Description</th>
                  <th>Value</th>
                  <th>Date</th>
                  <th>Status</th>
                  <th>Repeat Number</th>
                  <th>Actions</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                  <td class="text-center">1</td>
                  <td>Buy shoes</td>
                  <td>I buy shoes</td>
                  <td>$ 99,225</td>
                  <td>27-04-2017</td>
                  <td>Paid</td>
                  <td>02</td>
                  <td class="td-actions text-right">
                      <button type="button" rel="tooltip" title="View Profile" class="btn btn-info btn-simple btn-xs">
                          <i class="fa fa-user"></i>
                      </button>
                      <button type="button" rel="tooltip" title="Edit Profile" class="btn btn-success btn-simple btn-xs">
                          <i class="fa fa-edit"></i>
                      </button>
                      <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                          <i class="fa fa-times"></i>
                      </button>
                  </td>
              </tr>
              <tr>
                  <td class="text-center">1</td>
                  <td>Buy shoes</td>
                  <td>I buy shoes</td>
                  <td>$ 99,225</td>
                  <td>27-04-2017</td>
                  <td>Paid</td>
                  <td>02</td>
                  <td class="td-actions text-right">
                      <button type="button" rel="tooltip" title="View Profile" class="btn btn-info btn-simple btn-xs">
                          <i class="fa fa-user"></i>
                      </button>
                      <button type="button" rel="tooltip" title="Edit Profile" class="btn btn-success btn-simple btn-xs">
                          <i class="fa fa-edit"></i>
                      </button>
                      <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                          <i class="fa fa-times"></i>
                      </button>
                  </td>
              </tr>
              <tr>
                  <td class="text-center">1</td>
                  <td>Buy shoes</td>
                  <td>I buy shoes</td>
                  <td>$ 99,225</td>
                  <td>27-04-2017</td>
                  <td>Paid</td>
                  <td>02</td>
                  <td class="td-actions text-right">
                      <button type="button" rel="tooltip" title="View Profile" class="btn btn-info btn-simple btn-xs">
                          <i class="fa fa-user"></i>
                      </button>
                      <button type="button" rel="tooltip" title="Edit Profile" class="btn btn-success btn-simple btn-xs">
                          <i class="fa fa-edit"></i>
                      </button>
                      <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                          <i class="fa fa-times"></i>
                      </button>
                  </td>
              </tr>
              </tbody>
          </table>

      </div>
    </div>
  </div>
</div>
